{{ define "main" }}
<main class="list">
	<div class="site-description">
		{{- with .Site.Params.subtitle }}
		<p>{{ . | markdownify }}</p>
		{{- end }}
	</div>
	{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
	{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
	{{ range $paginator.Pages }}
	<section class="list-item">
		<h1 class="title"><a href="{{ .RelPermalink }}">{{.Title}}</a></h1>
		<div class="item-meta">
			<time>{{ dateFormat (i18n "date_format") .Date }}</time>{{ if .Draft }}<span class="draft-label">DRAFT</span>{{ end }}
			{{ partial "pills.html" . }}
		</div>
		<div class="description">
			{{ if isset .Params "description" }}
			{{ .Description }}
			{{ else }}
			{{ .Summary }}&hellip;
			{{ end }}
		</div>
	</section>
	{{ end }}
	{{ template "partials/paginator.html" . }}
</main>
{{ end }}
