{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<nav aria-label="Pagination">
<ul class="pagination">
	<li class="page-item page-prev">
	{{ if $pag.HasPrev }}
	<a href="{{ $pag.Prev.URL }}" class="page-link" aria-label="Previous"><span aria-hidden="true">← Prev</span></a>
	{{ end }}
	</li>
	<li class="page-item page-next">
	{{ if $pag.HasNext }}
	<a href="{{ $pag.Next.URL }}" class="page-link" aria-label="Next"><span aria-hidden="true">Next →</span></a>
	{{ end }}
	</li>
</ul>
</nav>
{{ end }}
